<div class="container-fluid">
    <div class="row-fluid">
        <span class="icon-shopping-cart"></span> Cart </br>
        <div> Currently {{incartsize()}} different products in cart </div>
    </div>
    <div class="row-fluid" ng-repeat="product in incart">
        <div class="span5">
            {{product.name}}
        </div>
        <div class="span1">
            {{product.quantity}}
        </div>
        <div class="span3">
            {{product.price | currency }}
        </div>
        <div class="span3">
            <a href ng-click="removeCartItem($index)">
                <span class="icon-remove"></span>
            </a>
        </div>
   </div>
    <div class="row-fluid">
        <div>Total: {{incartvalue() | currency }} </div>
        </br>
        <div><button ng-click='checkoutCart()'>Checkout</button></div>
    </div>
</div>
