<div class="container">
    <div class="row">
        <span class="glyphicon-shopping-cart"></span> Cart </br>
        <div> Currently {{incartsize()}} different products in cart </div>
    </div>
    <div class="row" ng-repeat="product in incart">
        <div class="col-md-1">
            {{product.name}}
        </div>
        <div class="col-md-1">
            {{product.quantity}}
        </div>
        <div class="col-md-1">
            {{product.price | currency }}
        </div>
        <div class="col-md-1">
            <a href ng-click="removeCartItem($index)">
                <span class="glyphicon-remove"></span>
            </a>
        </div>
   </div>
    <div class="row">
        <div>Total: {{incartvalue() | currency }} </div>
        </br>
        <div><button ng-click='checkoutCart()'>Checkout</button></div>
    </div>
</div>
