<div class="container">
    <div ng-include src="'partials/panes/menu-pane.html'" ng-cloak></div>
    <div class="row">
        <div class="col-md-3" ng-cloak>
            <div class="cart-pane">
                <cart></cart>
            </div>
        </div>
        <div class="col-md-9" ng-cloak>
            <div class="panel panel-info hidden-xs">
                <div class="panel-heading">
                    <h3 class="hidden-sm">{{store.name}} <small> {{store.description}} </small></h3>
                    <h4 class="hidden-md hidden-lg">{{store.name}} <small> {{store.description}} </small></h4>
                </div>
            </div>
            <search></search>
            <div class="row">
                <div ng-repeat="product in store.products" class="col-xs-6 col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <img ng-src="{{product.imageUrl}}" class="img-thumbnail" />
                            <h3>{{product.name}}</h3>
                            <p>{{product.description}}</p>
                            <p><a href ng-click="addToCart(product)" class="btn btn-primary" role="button">Add to cart</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

